@keyframes circleColor {
  from {
    box-shadow: 0 0 0 #9356DC, 0 0 0 #FF79DA, 0 0 0 #99E2D0, 0 0 0 #EDEDED;
  }
  to {
    box-shadow: 0 -10px 5px #9356DC, -10px 0 5px #FF79DA, 0 10px 5px #99E2D0, 10px 0 5px #EDEDED;
  }
}
@keyframes spinCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes home {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loadSpinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes heart {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(0.4);
  }
  60% {
    transform: scale(0.6);
  }
  80% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    z-index: 0;
  }
}
@keyframes check {
  from {
    opacity: 0;
    transform: rotate(-90deg);
  }
  to {
    opacity: 1;
    transform: rotate(-360deg);
  }
}
@keyframes checked {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes plats {
  0% {
    opacity: 0;
    transform: translateY(9999px);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  max-width: 1440px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: auto;
}

@font-face {
  font-family: "shrikhand";
  src: url(../assets/font/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/font/Roboto-Regular.ttf);
}
.heading {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1px;
  box-shadow: 0em 0em 10px gray;
}
.heading__logo {
  width: 10rem;
  padding: 1.2rem;
}
.heading__arrow {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  color: black;
}

.location__form {
  display: flex;
  justify-content: center;
  background-color: #EDEDED;
}
.location__form--searchBar {
  padding: 1.3rem;
  font-family: "Roboto";
  font-size: 1.2rem;
  background: #EDEDED;
  border: none;
}
.location__form--icon {
  padding-left: 3.5rem;
}

.footerInfos {
  background: #3b3b3b;
  padding-left: 1.8rem;
}
.footerInfos.menuSize {
  margin-top: -150px;
}
.footerInfos__image {
  width: 7rem;
  padding: 1.3rem 0;
}
.footerInfos__mentions {
  color: white;
  display: flex;
  flex-flow: row wrap;
  font-family: "Roboto";
  padding-bottom: 2rem;
  width: 100%;
}
.footerInfos__mentions--resto {
  width: 60%;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .footerInfos__mentions--resto {
    width: 50%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .footerInfos__mentions--resto {
    width: 20%;
    margin: auto;
  }
}
.footerInfos__mentions--resto > a {
  text-decoration: none;
  color: white;
}
.footerInfos__mentions--icon1 {
  padding-right: 1rem;
}
.footerInfos__mentions--icon2 {
  padding-right: 1rem;
  font-size: 0.7rem;
}
.footerInfos__mentions--paraf {
  margin: 0.3rem 0;
}

.home {
  opacity: 0;
  animation: home 1s ease-in-out 3s forwards;
}

.loadSpinner {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loadSpinner--circle {
  opacity: 1;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #6e6e6e;
  animation: circleColor 1s linear infinite alternate, spinCircle 3s linear infinite, loadSpinner 3s linear forwards;
  padding-top: 10px;
}
.loadSpinner--ustencils {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #9356DC;
  animation: loadSpinner 3s ease-out forwards;
}

.explore {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.explore__bloc {
  background-color: whitesmoke;
  padding: 3rem 1.8rem 5rem 1.8rem;
  text-align: center;
}
.explore__heading {
  margin-top: 0;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.7rem;
}
.explore__paraf {
  font-family: "Roboto";
  font-size: 1rem;
  color: #7a7a7a;
  margin-top: -0.8rem;
  padding-bottom: 3rem;
}
.explore__btn {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 1rem;
  color: white;
  background: #9356DC;
  border-radius: 40px;
  box-shadow: 0rem 0.1rem 1rem #b3b3b3;
  padding: 1.3rem;
}
.explore__btn:hover {
  transition: all 1s ease-in-out;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  box-shadow: 0rem 0.1rem 1rem #4d4d4d;
}

.functionality {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
.functionality__heading {
  width: 80%;
  font-family: "Roboto";
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 0.8rem;
}
.functionality__bloc {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 30px;
}
.functionality__bloc--card {
  width: 19rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  background: whitesmoke;
  border-radius: 25px;
  margin-left: 1.2rem;
  padding: 1rem 0 0.5rem 0.5rem;
  gap: 10px;
  box-shadow: 0 0 10px #b3b3b3;
}
@media screen and (min-width: 693px) and (max-width: 717px) {
  .functionality__bloc--card {
    width: 11rem;
  }
}
@media screen and (min-width: 718px) and (max-width: 1053px) {
  .functionality__bloc--card {
    width: 12rem;
  }
}
.functionality__bloc--card:hover {
  background-color: #f2eafb;
}
.functionality__bloc--card:hover .functionality__bloc--icon {
  color: #9356DC;
}
.functionality__bloc--number {
  position: relative;
  background-color: #9356DC;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-family: "Roboto";
  font-size: 1rem;
  left: -22px;
}
.functionality__bloc--icon {
  position: relative;
  left: -12px;
  color: gray;
}
.functionality__bloc--heading {
  font-family: "Roboto";
  font-size: 1rem;
}

.restaurants {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 5rem;
  background-color: #EDEDED;
}
.restaurants__heading {
  padding: 3rem 0 0 1rem;
  font-family: "Roboto";
}
@media screen and (min-width: 767px) {
  .restaurants__heading {
    width: 100%;
  }
}
.restaurants__box {
  display: flex;
  width: 100%;
  padding: 0.8rem 1rem;
}
@media screen and (min-width: 767px) {
  .restaurants__box {
    width: 45%;
    flex-flow: row wrap;
    margin: auto;
    padding: 1rem 0;
  }
}
.restaurants__box--link {
  text-decoration: none;
  color: black;
}
.restaurants__box--card {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px #6e6e6e;
  position: relative;
}
@media screen and (min-width: 767px) {
  .restaurants__box--card {
    min-width: 350px;
  }
}
.restaurants__box--image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants__box--annotation {
  background-color: aquamarine;
  color: #007f54;
  padding: 5px 10px;
  border-radius: 0.1em;
  font-family: "Roboto";
  position: absolute;
  top: 5px;
  right: 20px;
}
.restaurants__box--heading {
  padding-left: 0.8rem;
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: bold;
}
.restaurants__box--paraf {
  margin-top: -0.9rem;
  font-family: "Roboto";
  font-size: 1.1rem;
  padding: 0 0 0.5rem 0.8rem;
}
.restaurants__box--icon {
  font-size: 2rem;
  position: absolute;
  right: 30px;
  top: 225px;
}
.restaurants__box--empty {
  position: relative;
  color: black;
  cursor: pointer;
  z-index: 0;
}
.restaurants__box--full {
  position: absolute;
  right: 0;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transform-origin: bottom;
}
.restaurants__box--full:active {
  animation: heart 800ms cubic-bezier(0.53, 0.21, 0.99, 0.64) forwards;
}
@media screen and (min-width: 1024px) {
  .restaurants__box--full:active {
    display: none;
  }
  .restaurants__box--full:hover {
    animation: heart 800ms ease-in-out forwards;
  }
}

.menu {
  width: 100%;
}
.menu__image {
  width: 100%;
  height: 21rem;
  object-fit: cover;
}
.menu__card {
  position: relative;
  top: -100px;
  background-color: #f2f2f2;
  padding: 0 1rem 2rem 1rem;
  border-radius: 30px 30px 0 0;
}
.menu__card--icon {
  font-size: 1.7rem;
  position: absolute;
  right: 25px;
  top: 40px;
}
.menu__card--empty {
  position: relative;
  color: black;
  cursor: pointer;
  z-index: 0;
}
.menu__card--full {
  position: absolute;
  right: 0;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transform-origin: bottom;
}
.menu__card--full:active {
  animation: heart 800ms cubic-bezier(0.53, 0.21, 0.99, 0.64) forwards;
}
@media screen and (min-width: 1024px) {
  .menu__card--full:active {
    display: none;
  }
  .menu__card--full:hover {
    animation: heart 800ms ease-in-out forwards;
  }
}
.menu__card--heading {
  padding: 2rem 0 0 0;
  font-family: "shrikhand";
  font-size: 1.7rem;
}
.menu__card--btn {
  width: 40%;
  text-align: center;
  margin: 50px auto;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 1rem;
  color: white;
  background: #9356DC;
  border-radius: 40px;
  box-shadow: 0rem 0.1rem 1rem #b3b3b3;
  padding: 1.3rem;
}
.menu__card--btn:hover {
  transition: all 1s ease-in-out;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  box-shadow: 0rem 0.1rem 1rem #4d4d4d;
}
.menu__list {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}
.menu__list--heading {
  font-family: "Roboto";
  font-size: 1.3rem;
  margin: 0;
  position: relative;
}
.menu__list--heading::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
  bottom: -3px;
  left: 0;
}
@media screen and (min-width: 1024px) {
  .menu__list--heading {
    margin-left: -200px;
  }
}
.menu__list--heading.plat, .menu__list--heading.dessert {
  margin-top: 30px;
}
@media screen and (min-width: 769px) {
  .menu__list--heading.plat, .menu__list--heading.dessert {
    margin-top: 0;
  }
}
.menu__list--bloc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .menu__list--bloc {
    width: 30%;
    align-items: center;
  }
}
.menu__plats {
  background-color: white;
  border-radius: 20px;
  font-family: "Roboto";
  box-shadow: 0 0 10px #d4d4d4;
  position: relative;
  cursor: pointer;
  opacity: 0;
  animation: apparition 2s ease-in-out forwards;
}
@media screen and (min-width: 1024px) {
  .menu__plats {
    width: 100%;
  }
}
.menu__plats--boxFlex {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}
.menu__plats--content {
  width: 70%;
  padding: 0 1rem;
}
@media screen and (min-width: 1024px) {
  .menu__plats--content {
    width: 70%;
  }
}
.menu__plats--heading {
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 900;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .menu__plats--heading {
    font-size: 0.9rem;
  }
}
.menu__plats--description {
  margin: 0 0 10px 0;
  font-size: 0.9rem;
  font-weight: 100;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .menu__plats--description {
    font-size: 0.7rem;
  }
}
.menu__plats--prix {
  width: 20%;
  padding-top: 2rem;
  font-weight: 900;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .menu__plats--prix {
    font-size: 0.8rem;
    margin: 0 10px;
    right: 0px;
  }
}
.menu__plats--style {
  position: absolute;
  top: 40%;
  right: 7%;
  display: inline-block;
}
.menu__plats--select {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  opacity: 0;
  width: 0%;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
}
.menu__plats--icon {
  opacity: 0;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 1.2rem;
  background-color: white;
  border-radius: 12px 12px;
  padding: 3px;
  color: #99E2D0;
}
.menu__plats:active .menu__plats--content {
  width: 55%;
  transition: all 1s;
}
.menu__plats:active .menu__plats--select {
  width: 20%;
  animation: checked 2s ease-in-out forwards;
}
.menu__plats:active .menu__plats--icon {
  animation: check 1s ease-in 100ms forwards;
}
@media screen and (min-width: 1024px) {
  .menu__plats:hover .menu__plats--content {
    width: 45%;
    transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1200px) {
  .menu__plats:hover .menu__plats--content {
    width: 55%;
  }
}
@media screen and (min-width: 1024px) {
  .menu__plats:hover .menu__plats--select {
    width: 20%;
    animation: checked 2s ease-in-out forwards;
  }
}
@media screen and (min-width: 1024px) {
  .menu__plats:hover .menu__plats--icon {
    animation: check 1s ease-in 100ms forwards;
  }
}
.menu__plats.delay1 {
  animation-delay: 300ms;
}
.menu__plats.delay2 {
  animation-delay: 700ms;
}
.menu__plats.delay3 {
  animation-delay: 1000ms;
}
.menu__plats.delay4 {
  animation-delay: 1300ms;
}

/*# sourceMappingURL=style.css.map */
