@mixin btn($colorFont, $colorPrincipal, $colorShadow, $hoverColor) {
    text-decoration: none;
    font-family: $principal-font;
    font-size: 1rem;
    color: $colorFont;
    background: $colorPrincipal;
    border-radius: 40px;
    box-shadow: 0rem 0.1rem 1rem lighten($colorShadow, $amount: 70) ;
    padding: 1.3rem;
    &:hover {
        background: linear-gradient(to left top, $colorPrincipal, $hoverColor);
        box-shadow: 0rem 0.1rem 1rem lighten($colorShadow, $amount: 30) ;
    }
}




