.heading {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    box-shadow: 0em 0em 10px gray;
    &__logo {
        width: 10rem;
        padding: 1.2rem;
    }
    &__arrow {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(-50%, -50%);
        color: black;
    }
}